-BOARDCTL_USBDEVCTRL=y
+CXD56_SDIO=y
+NSH_CUSTOMROMFS=y
+NSH_CUSTOMROMFS_HEADER="../../system/sysutil/nsh_romfsimg.h"
+NSH_ROMFSETC=y
+SYSTEM_BOARDID=y
+SYSTEM_USBMSC=y
+SYSTEM_XMODEM=y
+SYSTEM_XMODEM_APP=y
+USBMSC_BOARD_SERIALSTR=y
