-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
+ALLOW_BSD_COMPONENTS=y
+EXTERNALS_VTUN=y
+IOB_NBUFFERS=8
+IOB_NCHAINS=0
+LIBC_NETDB=y
+NET_ETH_PKTSIZE=1280
+NET_ICMP=y
+NET_TCP=y
+NET_TCP_NO_STACK=n
+NET_TUN=y
+NET_TUN_PKTSIZE=1280
+NET_UDP=y
+NET_UDP_NO_STACK=n
+PSEUDOFS_SOFTLINKS=y
+SIG_DEFAULT=y
