#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_SENSOR_STEP_COUNTER
	tristate "Step counter sensor example"
	default n
	---help---
		Enable the step_counter sensor example

if EXAMPLES_SENSOR_STEP_COUNTER

config EXAMPLES_STEP_COUNTER_PROGNAME
	string "Program name"
	default "step_counter"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_STEP_COUNTER_PRIORITY
	int "Sensor task priority"
	default 100

config EXAMPLES_STEP_COUNTER_STACKSIZE
	int "Sensor stack size"
	default 2048

config EXAMPLES_SENSOR_STEP_COUNTER_ACCEL_WM_SIGNO
    int "Accelerator sensor watermark signal"
    default 14

config EXAMPLES_STEP_COUNTER_WALKING_STRIDE
	int "Stride length of walking state"
	default 60

config EXAMPLES_STEP_COUNTER_RUNNING_STRIDE
	int "Stride length of running state"
	default 80
endif
