config CXD56_GNSS
	bool "GNSS device"
	default n

if CXD56_GNSS

menu "GNSS settings"

config CXD56_GNSS_NPOLLWAITERS
  int "GNSS max poll waiters"
  default 4

config CXD56_GNSS_NSIGNALRECEIVERS
  int "GNSS max signal receivers"
  default 4

config CXD56_GNSS_WORKER_STACKSIZE
  int "GNSS worker thread stack size"
  default 128

config CXD56_GNSS_WORKER_THREAD_PRIORITY
  int "GNSS worker thread priority"
  default 255

config CXD56_GNSS_BACKUP_FILENAME
	string "GNSS backup file name"
	default "/mnt/spif/gnss_backup.bin"
	---help---
		Specify the path and file name of backup data.

config CXD56_GNSS_CEP_FILENAME
	string "GNSS CEP file name"
	default "/mnt/vfat/gnss_cep.bin"
	---help---
		Specify the path and file name of cep data.

config CXD56_GNSS_FW_RTK
	bool "Support carrier-phase data output for Real-Time Kinematic"
	default n
	---help---
		This is experimental function.

endmenu

endif

config CXD56_GEOFENCE
	bool "Geofence Support"
	default y
	depends on CXD56_GNSS

source "$SDKDIR/modules/sensing/gnss/cxd56nmea/Kconfig"

