-ARCH_INTERRUPTSTACK=2048
-MAX_WDOGPARMS=2
-NFILE_STREAMS=8
-PREALLOC_MQ_MSGS=4
-PREALLOC_WDOGS=16
-SCHED_CHILD_STATUS=y
-SCHED_HAVE_PARENT=y
-SYSTEM_NSH_CXXINITIALIZE=y
+ASMP=y
+DRIVER_NOTE=y
+EXAMPLES_ASMP=y
+SCHED_INSTRUMENTATION=y
+SMP=y
+SMP_NCPUS=2
+SPINLOCK_IRQ=y
+TESTING_OSTEST=y
+TESTING_OSTEST_FPUSIZE=64
+TESTING_SMP=y
