-NXFONTS_PACKEDMSFIRST=n
-SCHED_HPWORK=y
-SDIO_BLOCKSETUP=y
+CXD56_IMAGEPROC=y
+CXD56_SDIO=y
+EXAMPLES_JPEG_DECODE=y
+EXAMPLES_JPEG_DECODE_OUTPUT_LCD=y
+EXTERNALS_LIBJPEG=y
+LCD_ILI9340=y
+LCD_ILI9340_IFACE0=y
+MMCSD_HAVE_WRITEPROTECT=n
+MQ_MAXMSGSIZE=64
+NX=y
+NXFONTS_DISABLE_16BPP=n
+NXFONT_SERIF22X29=y
+NX_BLOCKING=y
+NX_DISABLE_16BPP=n
