-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
+NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SPI=y
+CXD56_NRC_HALOW=y
+DRIVERS_WIRELESS=y
+NETDEV_WIRELESS_IOCTL=y
+NETDEV_IOCTL=y
+NETUTILS_PING=y
+NET_ARP=n
+NET_ICMP_NO_STACK=y
+WIRELESS_WAPI=y
+WL_NRC7292=y
+WIRELESS_NRC7292=y
+WIRELESS_WAPI_CMDTOOL=y
+WIRELESS_WAPI_USOCKDTERM_CMDTOOL=y

