#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config UTILS_UCONV
	bool "Unicode converter Library Support"
	default n
	---help---
		Enables support for the Unicode converter Library.

if UTILS_UCONV

config UTILS_UCONV_DEBUG
	bool "Enable unicode converter Debug logs"
	default n

endif
