#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_COLORSENSOR
	tristate "Color sensor example"
	default n
	depends on SENSORS_BH1745NUC_SCU
	---help---
		Enable the sensor via SCU example

if EXAMPLES_COLORSENSOR

config EXAMPLES_COLORSENSOR_PROGNAME
	string "Program name"
	default "colorsensor"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_COLORSENSOR_PRIORITY
	int "Sensor task priority"
	default 100

config EXAMPLES_COLORSENSOR_STACKSIZE
	int "Sensor stack size"
	default 2048

config EXAMPLES_COLORSENSOR_DEVNAME
	string "Color sensor device name"
	default "/dev/color0"

config EXAMPLES_COLORSENSOR_SIGNO
	int "Color sensor signal"
	default 14

endif
