#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MEMUTILS
	bool "Memory manager"
	default n
	---help---
		Enable support for memory manager.

if MEMUTILS
menu "Memory Utilities"

source "$SDKDIR/modules/memutils/memory_manager/Kconfig"
source "$SDKDIR/modules/memutils/message/Kconfig"
source "$SDKDIR/modules/memutils/s_stl/Kconfig"
source "$SDKDIR/modules/memutils/simple_fifo/Kconfig"

endmenu # Memory Utilities
endif
