#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if LTE

config LTE_USE_BUFFPOOL
	bool "LTE API uses buffpool"
	default y
	---help---
		When this config is enabled, the memory used by the LTE functions is supplied from buffpool.
		If disabled, memory is allocated from the heap area.

endif

config LTE_DEBUG_FEATURES
	bool "Enable LTE Debug Features"
	default n

if LTE_DEBUG_FEATURES

config LTE_DEBUG_ERROR
	bool "Enable Error Output"
	default n

config LTE_DEBUG_WARN
	bool "Enable Warnings Output"
	default n
	depends on LTE_DEBUG_ERROR

config LTE_DEBUG_NOTICE
	bool "Enable Notice Output"
	default n
	depends on LTE_DEBUG_WARN

config LTE_DEBUG_INFO
	bool "Enable Informational Debug Output"
	default n
	depends on LTE_DEBUG_NOTICE

config LTE_DEBUG_DEBUG
	bool "Enable Debug Output"
	default n
	depends on LTE_DEBUG_INFO

endif

config LTE_CALLBACK_TASK_PRIORITY
	int "callback task priority"
	default 100
	range 1 255

if MODEM

config MODEM_DEVICE_PATH
	string "Path to the modem driver"
	default "/dev/altmdm"
	---help---
		Path to the modem driver to register.

endif

if LTE_NET

config LTE_NET_MBEDTLS
	bool "Stub mbedTLS Support"
	default n
	---help---
		This function is to use the function of mbedTLS on LTE Modem side.
		If you want to use mbedTLS itself on CXD5602, please use CONFIG_EXTERNALS_MBEDTLS.
		And when you select this, make sure CONFIG_EXTERNALS_MBEDTLS is disabled. Those are exclusive items.

endif
