CONFIG_CXD56_ADC=y
CONFIG_CXD56_HPADC0=y
CONFIG_CXD56_HPADC1=y
CONFIG_CXD56_LPADC=y
CONFIG_CXD56_LPADC_ALL=y
CONFIG_CXD56_LPADC0_FREQ=7
CONFIG_CXD56_LPADC0_FSIZE=64
CONFIG_CXD56_LPADC1_FREQ=7
CONFIG_CXD56_LPADC1_FSIZE=64
CONFIG_CXD56_LPADC2_FREQ=7
CONFIG_CXD56_LPADC2_FSIZE=64
CONFIG_CXD56_LPADC3_FREQ=7
CONFIG_CXD56_LPADC3_FSIZE=64
CONFIG_EXAMPLES_ADC=y
