CONFIG_CXD56_I2C0=y
CONFIG_SENSORS=y
CONFIG_BMI160=y
CONFIG_BMI160_I2C=y
CONFIG_BMP280=y
CONFIG_AK09912=y
CONFIG_SENSING_MANAGER=y
CONFIG_SENSING_MANAGER_POWERCTRL=y
CONFIG_SENSING_BAROMETER=y
CONFIG_SENSING_TRAM=y
CONFIG_MEMUTILS=y
CONFIG_MEMUTILS_MEMORY_MANAGER=y
CONFIG_MEMUTILS_MESSAGE=y
CONFIG_ASMP=y
CONFIG_EXAMPLES_SENSOR_TRAM=y
