#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTE_AWSIOT
	tristate "AWS IoT using LTE example"
	default n
	---help---
		Enable the AWS IoT using LTE example

if EXAMPLES_LTE_AWSIOT

config EXAMPLES_LTE_AWSIOT_PROGNAME
	string "Program name"
	default "lte_awsiot"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LTE_AWSIOT_PRIORITY
	int "lte_awsiot task priority"
	default 100

config EXAMPLES_LTE_AWSIOT_STACKSIZE
	int "lte_awsiot stack size"
	default 7168

config EXAMPLES_LTE_AWSIOT_STACKSIZE_IN_USING_MBEDTLS
	int "lte_awsiot stack size in using mbedTLS"
	default 10240

config EXAMPLES_LTE_AWSIOT_CERT
	string "AWS IoT cert folder"
	default "/mnt/sd0/CERTS"

config EXAMPLES_LTE_AWSIOT_APN_NAME
	string "Access Point Name"
	default ""

config EXAMPLES_LTE_AWSIOT_APN_IPTYPE
	int "IP type"
	default 0
	range 0 2
	---help---
		IP type is selected from IP, IPv6 and IPv4/v6.
		Values are IP=0, IPv6=1 and IPv4/v6=2.

config EXAMPLES_LTE_AWSIOT_APN_AUTHTYPE
	int "Authentication type"
	default 0
	range 0 2
	---help---
		Authentication type is selected from NONE, PAP and CHAP.
		Values are NONE=0, PAP=1, CHAP=2.

config EXAMPLES_LTE_AWSIOT_APN_USERNAME
	string "Username used for authentication"
	default ""

config EXAMPLES_LTE_AWSIOT_APN_PASSWD
	string "Password used for authentication"
	default ""

endif
