[submodule "nuttx"]
	path = nuttx
	url = ../spresense-nuttx.git
[submodule "externals/nnabla-c-runtime"]
	path = externals/nnablart/nnabla-c-runtime
	url = https://github.com/sony/nnabla-c-runtime
[submodule "sdk/apps"]
	path = sdk/apps
	url = ../spresense-nuttx-apps.git
