#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_BLUETOOTH_A2DP_SNK
	tristate "Bluetooth A2DP Sink example"
	default n
	---help---
		Enable the bluetooth A2DP Sink example

if EXAMPLES_BLUETOOTH_A2DP_SNK

config EXAMPLES_BLUETOOTH_A2DP_SNK_PROGNAME
	string "Program name"
	default "bt_a2dp_snk"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_BLUETOOTH_A2DP_SNK_PRIORITY
	int "Task priority"
	default 100

config EXAMPLES_BLUETOOTH_A2DP_SNK_STACKSIZE
	int "Stack size"
	default 2048

endif
