led_ctrl 1000
sleep 3

# Start NRC7292 Usersock daemon
nrc7292 &
led_ctrl 1100
sleep 1

led_ctrl 1010 3 0101

# Set SSID as 'sprdemo'
wapi essid wlan0 sprdemo 1

# Set Password as 0123456789
wapi psk wlan0 0123456789 2 2

# Start to connect Halow network 'sprdemo'
ifup wlan0

# Display netowrk setting
led_ctrl 1110
sleep 1
ifconfig
sleep 1

# Stop LED Daemon with keeping LED on
led_ctrl 1111 -1
sleep 1

# Start AHRS Transmitter with connection to Receiver
ahrs_pwbimu net 192.168.50.1

