#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_BLUETOOTH_SPP
	tristate "Bluetooth Serial port profile example"
	default n
	---help---
		Enable the bluetooth SPP example

if EXAMPLES_BLUETOOTH_SPP

config EXAMPLES_BLUETOOTH_SPP_PROGNAME
	string "Program name"
	default "bt_spp"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_BLUETOOTH_SPP_PRIORITY
	int "Task priority"
	default 100

config EXAMPLES_BLUETOOTH_SPP_STACKSIZE
	int "Stack size"
	default 2560

endif
