#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTE_RAT
	tristate "RAT sets/checks example"
	default n
	---help---
		Enable the RAT sets/checks example

if EXAMPLES_LTE_RAT

config EXAMPLES_LTE_RAT_PROGNAME
	string "Program name"
	default "lte_rat"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LTE_RAT_PRIORITY
	int "lte_rat task priority"
	default 100

config EXAMPLES_LTE_RAT_STACKSIZE
	int "lte_rat stack size"
	default 2048

endif
