#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Device support"
source "$APPSDIR/../modules/bluetooth/hal/bcm20706/Kconfig"
source "$APPSDIR/../modules/bluetooth/hal/nrf52/Kconfig"
endmenu

