#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig FWUPUTILS_MANAGER
	bool "FirmWare Update Manager"
	default n
	---help---
		Enable support for FirmWare Update.

if FWUPUTILS_MANAGER

endif # FWUPUTILS_MANAGER
