#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config AUDIOUTILS_CAPTURE
	bool "Capture"
	default n
	---help---
		Enable Capture Feature

config AUDIOUTILS_DECODER
	bool "Decoder"
	default n
	---help---
		Enable Decode Feature

if AUDIOUTILS_DECODER
config AUDIOUTILS_DECODER_TIME_MEASUREMENT
	bool "Measure the decoding time and display the result"
	default n
	---help---
		Enable measure the decoding time
endif

config AUDIOUTILS_ENCODER
	bool "Encoder"
	default n
	---help---
		Enable Encode Feature

config AUDIOUTILS_FILTER
	bool "Filter"
	default n
	select AUDIOUTILS_CUSTOMPROC
	---help---
		Enable (Pre/Post) Filtering Feature

config AUDIOUTILS_RECOGNITION
	bool "Recognition"
	default n
	select AUDIOUTILS_CUSTOMPROC
	---help---
		Enable Recognition Feature

config AUDIOUTILS_RENDERER
	bool "Renderer"
	default n
	---help---
		Enable Renderer Feature
		
if AUDIOUTILS_RENDERER
config AUDIOUTILS_RENDERER_UNDERFLOW
	bool "Insert silence data at underflow"
	default n
	---help---
		Enable Insert silence data

endif

config AUDIOUTILS_CUSTOMPROC
	bool "User custom signal processing on DSP"
	default n
	---help---
		Enable Insert silence data

config AUDIOUTILS_DSP_DEBUG_DUMP
	bool "dsp debug dump"
	default n
	depends on CXD56_BACKUPLOG
	---help---
		Enable Dsp Debug Dump

