#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_TLSTEST
	bool "mbedtls test"
	default n
	---help---
		Enable the mbedtls test

if EXAMPLES_TLSTEST

config EXAMPLES_TLSTEST_PROGNAME
	string "Program name"
	default "tlstest"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_TLSTEST_PRIORITY
	int "tlstest task priority"
	default 100

config EXAMPLES_TLSTEST_STACKSIZE
	int "tlstest stack size"
	default 2048

endif
