#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_ACCEL
	tristate "Accelerometer sensor example"
	default n
	---help---
		Enable the sensor via SCU example

if EXAMPLES_ACCEL

config EXAMPLES_ACCEL_PROGNAME
	string "Program name"
	default "accel"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_ACCEL_PRIORITY
	int "Sensor task priority"
	default 100

config EXAMPLES_ACCEL_STACKSIZE
	int "Sensor stack size"
	default 2048

endif
