#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_BLUETOOTH_LE_CENTRAL
	tristate "Bluetooth low energy GATT central example"
	default n
	---help---
		Enable the bluetooth LE central example

if EXAMPLES_BLUETOOTH_LE_CENTRAL

config EXAMPLES_BLUETOOTH_LE_CENTRAL_PROGNAME
	string "Program name"
	default "ble_central"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_BLUETOOTH_LE_CENTRAL_PRIORITY
	int "Task priority"
	default 100

config EXAMPLES_BLUETOOTH_LE_CENTRAL_STACKSIZE
	int "Stack size"
	default 2048

endif
