-BATTERY_CHARGER=y
-BATTERY_GAUGE=y
-BOARDCTL_IOCTL=y
-BOARDCTL_POWEROFF=y
-BOARDCTL_RESET=y
-BOARDCTL_UNIQUEID=y
-BOARDCTL_UNIQUEID_SIZE=5
-BOARDCTL_USBDEVCTRL=y
-CDCACM=y
-CDCACM_EPBULKIN=4
-CDCACM_EPBULKOUT=5
-CDCACM_EPINTIN=6
-CDCACM_PRODUCTID=0x0bc2
-CDCACM_RXBUFSIZE=3080
-CDCACM_VENDORID=0x054c
-CDCACM_VENDORSTR="SONY"
-FAT_LCNAMES=y
-FAT_LFN=y
-FAT_MAXFNAME=64
-FS_FAT=y
-FS_FATTIME=y
-FS_PROCFS=y
-FS_PROCFS_REGISTER=y
-FS_ROMFS=y
-FS_SMARTFS=y
-LIBC_IPv4_ADDRCONV=y
-LIBC_IPv6_ADDRCONV=y
-LIBC_KBDCODEC=y
-MMCSD=y
-MMCSD_MMCSUPPORT=n
-MMCSD_SDIO=y
-MMCSD_SPI=n
-MTD_BYTE_WRITE=y
-MTD_SMART=y
-MTD_SMART_ENABLE_CRC=y
-MTD_SMART_FSCK=y
-MTD_SMART_SECTOR_SIZE=4096
-MTD_SMART_WEAR_LEVEL=n
-NET=y
-NETDEVICES=y
-NETDEV_LATEINIT=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_TCP_NO_STACK=y
-NET_UDP_NO_STACK=y
-NET_USRSOCK=y
-NET_USRSOCK_TCP=y
-NET_USRSOCK_UDP=y
-NSH_DISABLE_LOSMART=y
-PIPES=y
-RTC_ALARM=y
-SCHED_LPNTHREADS=3
-SCHED_LPWORK=y
-SDIO_MUXBUS=y
-SMARTFS_ALIGNED_ACCESS=y
-SMARTFS_MAXNAMLEN=30
-SMARTFS_MULTI_ROOT_DIRS=y
-USBDEV=y
-USBDEV_DMA=y
-USBDEV_DUALSPEED=y
-USBMSC=y
-USBMSC_EPBULKIN=1
-USBMSC_PRODUCTID=0x0bc2
-USBMSC_REMOVABLE=y
-USBMSC_VENDORID=0x054c
-USBMSC_VENDORSTR="Sony"
 UART1_RXBUFSIZE=1024->16
 UART1_TXBUFSIZE=1024->16
+ASMP=y
+CXD56_ADC=y
+CXD56_HPADC0=y
+CXD56_HPADC1=y
+CXD56_IMAGEPROC=y
+CXD56_LPADC=y
+CXD56_PWM0=y
+CXD56_PWM1=y
+CXD56_PWM2=y
+CXD56_PWM3=y
+CXD56_SUBCORE=y
+CXD56_UDMAC=n
+DEV_NULL=n
+DISABLE_ENVIRON=y
+EXTERNALS_CMSIS=y
+NSH_ARGCAT=n
+NSH_DISABLESCRIPT=y
+NSH_DISABLE_CAT=y
+NSH_DISABLE_CD=y
+NSH_DISABLE_CMP=y
+NSH_DISABLE_CP=y
+NSH_DISABLE_DD=y
+NSH_DISABLE_DF=y
+NSH_DISABLE_ECHO=y
+NSH_DISABLE_EXEC=y
+NSH_DISABLE_EXIT=y
+NSH_DISABLE_HEXDUMP=y
+NSH_DISABLE_KILL=y
+NSH_DISABLE_LOSETUP=y
+NSH_DISABLE_LS=y
+NSH_DISABLE_MKDIR=y
+NSH_DISABLE_MKRD=y
+NSH_DISABLE_MOUNT=y
+NSH_DISABLE_MV=y
+NSH_DISABLE_PWD=y
+NSH_DISABLE_RM=y
+NSH_DISABLE_RMDIR=y
+NSH_DISABLE_SET=y
+NSH_DISABLE_SOURCE=y
+NSH_DISABLE_TEST=y
+NSH_DISABLE_UMOUNT=y
+NSH_DISABLE_UNAME=y
+NSH_DISABLE_UNSET=y
+NSH_DISABLE_USLEEP=y
