#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Video Support"

config VIDEO 
	bool "Video Support"
	default n
	---help---
		Enable video

endmenu
