#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_AUDIO_PLAYER
	bool "Audio player example"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio player example

if EXAMPLES_AUDIO_PLAYER

config EXAMPLES_AUDIO_PLAYER_PROGNAME
	string "Program name"
	default "audio_player"

config EXAMPLES_AUDIO_PLAYER_PRIORITY
	int "Audio player task priority"
	default 150

config EXAMPLES_AUDIO_PLAYER_STACKSIZE
	int "Audio player stack size"
	default 2048
endif
