+ASMP=y
+AUDIOUTILS_CAPTURE=y
+AUDIOUTILS_DSP_DRIVER=y
+AUDIOUTILS_FILTER=y
+AUDIOUTILS_MFE=y
+AUDIOUTILS_OUTPUTMIXER=y
+AUDIOUTILS_RENDERER=y
+CXD56_AUDIO=y
+EXAMPLES_AUDIO_SOUND_EFFECTOR=y
+MEMUTILS=y
+MEMUTILS_MEMORY_MANAGER=y
+MEMUTILS_MESSAGE=y
+MEMUTILS_SIMPLE_FIFO=y
+MEMUTILS_S_STL=y
+SDK_AUDIO=y
+SPECIFIC_DRIVERS=y
