#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LIGHT
	tristate "Light sensor example"
	default n
	depends on SENSORS_APDS9930_SCU || SENSORS_LT1PA01_SCU || SENSORS_BH1721FVC_SCU || SENSORS_RPR0521RS_SCU
	---help---
		Enable the sensor via SCU example

if EXAMPLES_LIGHT

config EXAMPLES_LIGHT_PROGNAME
	string "Program name"
	default "light"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LIGHT_PRIORITY
	int "Sensor task priority"
	default 100

config EXAMPLES_LIGHT_STACKSIZE
	int "Sensor stack size"
	default 2048

config EXAMPLES_LIGHT_DEVNAME
	string "Light sensor device name"
	default "/dev/light0"

config EXAMPLES_LIGHT_SIGNO
	int "Light sensor signal"
	default 14

endif
