-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_USRSOCK=y
-NET_USRSOCK_TCP=y
-NET_USRSOCK_UDP=y
-SCHED_LPWORK=y
+ASMP=y
+ASMP_WORKER_CMSIS=y
+ASMP_WORKER_FMSYNTH=y
+ASMP_WORKER_LIBC=y
+AUDIO=y
+AUDIO_CXD56=y
+AUDIO_FORMAT_MP3=n
+AUDIO_FORMAT_PCM=n
+AUDIO_LITE=y
+DRIVERS_AUDIO=y
+EXAMPLES_AUDIOLITE_GNSS1PPS_DPLL=y
+EXAMPLES_AUDIOLITE_GNSS1PPS_DPLL_PLL_DEBUG=y
+EXTERNALS_CMSIS=y
+EXTERNALS_MOSSFW=y
+FS_AUTOMOUNTER=y
+NETINIT_NOMAC=y
+NETUTILS_PING=y
+NET_ICMP=y
+NET_TCP=y
+NET_UDP=y
+RNDIS=y
