-MMCSD=y
-MMCSD_SDIO=y
-SCHED_LPWORK=y
+ASMP=y
+ASMP_WORKER_LIBC=y
+AUDIO=y
+AUDIO_CXD56=y
+AUDIO_FORMAT_MP3=n
+AUDIO_FORMAT_PCM=n
+AUDIO_LITE=y
+BLUETOOTH=y
+BLUETOOTH_NRF52=y
+CXD56_SDCARD_AUTOMOUNT=y
+CXD56_SDIO=y
+DRIVERS_AUDIO=y
+EXAMPLES_BLE_MIDI_CENTRAL=y
+EXTERNALS_MICRO_ECC=y
+EXTERNALS_MOSSFW=y
+EXTERNALS_NRF52=y
+FS_AUTOMOUNTER=y
