-NXFONTS_PACKEDMSFIRST=n
+CXD56_CISIF=y
+CXD56_I2C2=y
+CXD56_SDIO=y
+DRIVERS_VIDEO=y
+EXAMPLES_CAMERA=y
+EXAMPLES_CAMERA_OUTPUT_LCD=y
+LCD_ILI9340=y
+LCD_ILI9340_IFACE0=y
+LCD_ILI9340_IFACE0_RLANDSCAPE=y
+MMCSD_HAVE_WRITEPROTECT=n
+MQ_MAXMSGSIZE=64
+NX=y
+NXFONTS_DISABLE_16BPP=n
+NXFONT_SERIF22X29=y
+NX_BLOCKING=y
+NX_DISABLE_16BPP=n
+SPECIFIC_DRIVERS=y
+VIDEO_ISX012=y
+VIDEO_ISX019=y
+VIDEO_STREAM=y
