#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LCD
	bool "LCD Drivers"
	---help---
		LCD and EInk display device drivers.

if LCD

config LCD_LPM013M091A
	bool "JDI LPM013M091A LCD Driver"
	default n
	---help---
		JDI LPM013M091A LCD Driver.
		This driver doesn't support reading data.
		Recommended to use DMA to transfer data or displayed image would be
		broken.

config LCD_ET014TT1
	bool "EInk ET014TT1 ePaper"
	default n
	---help---
		E Ink ET014TT1 1.43 inch monochrome display.

if LCD_ET014TT1
choice
	prompt "LCD Orientation"
	default LCD_ET014TT1_LANDSCAPE
	---help---
		Configure display orientation.

config LCD_ET014TT1_LANDSCAPE
	bool "Landscape orientation"
	---help---
		Define for "landscape" orientation support.

config LCD_ET014TT1_PORTRAIT
	bool "Portrait orientation"
	---help---
		Define for "portrait" orientation support.

config LCD_ET014TT1_RLANDSCAPE
	bool "Reverse landscape orientation"
	---help---
		Define for "reverse landscape" orientation support.

config LCD_ET014TT1_RPORTRAIT
	bool "Reverse portrait display"
	---help---
		Define for "reverse portrait" orientation support.

endchoice
endif

config LCD_ILI9340
	bool "ILI9340 LCD Single Chip Driver"
	default n
	---help---
		LCD Single Chip Driver, ILI9340, ILI Technology Corp.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

config LCD_ILI9340_NINTERFACES
	int "Number of supported display driver"
	range 1 2
	default 1
    depends on LCD_ILI9340
	---help---
		Define the number of supported  displays driven by a ili9340 LCD Single
		Chip Driver.

config LCD_ILI9340_IFACE0
	bool "(1) LCD Display"
	depends on LCD_ILI9340_NINTERFACES = 1 || LCD_ILI9340_NINTERFACES = 2
	---help---
		Configure first LCD Display.

if LCD_ILI9340_IFACE0
choice
	prompt "LCD Orientation"
	default LCD_ILI9340_IFACE0_LANDSCAPE
	---help---
		Configure display orientation.

config LCD_ILI9340_IFACE0_LANDSCAPE
	bool "Landscape orientation"
	---help---
		Define for "landscape" orientation support.

config LCD_ILI9340_IFACE0_PORTRAIT
	bool "Portrait orientation"
	---help---
		Define for "portrait" orientation support.

config LCD_ILI9340_IFACE0_RLANDSCAPE
	bool "Reverse landscape orientation"
	---help---
		Define for "reverse landscape" orientation support.

config LCD_ILI9340_IFACE0_RPORTRAIT
	bool "Reverse portrait display"
	---help---
		Define for "reverse portrait" orientation support.

endchoice

choice
	prompt "Color format"
	default LCD_ILI9340_IFACE0_RGB565
	---help---
		LCD color format.

config LCD_ILI9340_IFACE0_RGB565
	bool "16 bpp RGB565 color format"
	---help---
		16 bpp RGB565 color format

endchoice
endif

config LCD_ILI9340_IFACE1
	bool "(2) LCD Display"
	depends on LCD_ILI9340_NINTERFACES = 2
	---help---
		Configure second LCD Display.

if LCD_ILI9340_IFACE1
choice
	prompt "LCD Orientation"
	default LCD_ILI9340_IFACE1_LANDSCAPE
	---help---
		Configure display orientation.

config LCD_ILI9340_IFACE1_LANDSCAPE
	bool "Landscape orientation"
	---help---
		Define for "landscape" orientation support.

config LCD_ILI9340_IFACE1_PORTRAIT
	bool "Portrait orientation"
	---help---
		Define for "portrait" orientation support.

config LCD_ILI9340_IFACE1_RLANDSCAPE
	bool "Reverse landscape orientation"
	---help---
		Define for "reverse landscape" orientation support.

config LCD_ILI9340_IFACE1_RPORTRAIT
	bool "Reverse portrait display"
	---help---
		Define for "reverse portrait" orientation support.

endchoice

choice
	prompt "Color format"
	default LCD_ILI9340_IFACE1_RGB565
	---help---
		LCD color format.

config LCD_ILI9340_IFACE1_RGB565
	bool "16 bpp RGB565 color format"
	---help---
		16 bpp RGB565 color format

endchoice
endif

endif
