-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SCHED_LPWORK=y
-SPI=y
+CXD56_DMAC_SPI5_RX=y
+CXD56_DMAC_SPI5_TX=y
+DRIVERS_WIRELESS=y
+EXAMPLES_WEBSERVER=y
+EXAMPLES_WEBSERVER_DHCPC=y
+NETDB_DNSCLIENT=y
+NETDB_DNSSERVER_NOADDR=y
+NETINIT_NETLOCAL=y
+NETUTILS_PING=y
+NETUTILS_WEBSERVER=y
+NET_ICMP=y
+WIRELESS_GS2200M=y
+WL_GS2200M=y
