+ASMP=y
+AUDIOUTILS_MANAGER=y
+AUDIOUTILS_MFE=y
+AUDIOUTILS_SOUND_RECOGNIZER=y
+CXD56_AUDIO=y
+EXAMPLES_AUDIO_RECOGNIZER=y
+MEMUTILS=y
+MEMUTILS_MEMORY_MANAGER_NUM_FIXED_AREA_FENCES=16
+SDK_AUDIO=y
+SPECIFIC_DRIVERS=y
