+BLUETOOTH=y
+BLUETOOTH_NRF52=y
+DRIVERS_VIDEO=y
+EXAMPLES_BLE_MOUSE_CENTRAL=y
+EXAMPLES_BLE_MOUSE_INPUT_DEVICE=y
+EXAMPLES_LVGLDEMO=y
+EXTERNALS_MICRO_ECC=y
+EXTERNALS_NRF52=y
+GRAPHICS_LVGL=y
+LCD_FRAMEBUFFER=y
+LCD_ILI9340=y
+LCD_ILI9340_IFACE0=y
+LCD_ILI9340_IFACE0_RLANDSCAPE=y
+LV_COLOR_SCREEN_TRANSP=y
+LV_FONT_MONTSERRAT_12=y
+LV_FONT_MONTSERRAT_18=y
+LV_MEM_CUSTOM=y
+LV_PORT_USE_FBDEV=y
+LV_PORT_USE_MOUSE=y
+LV_TICK_CUSTOM=y
+LV_TICK_CUSTOM_INCLUDE="port/lv_port_tick.h"
+LV_USE_DEMO_WIDGETS=y
+LV_USE_LOG=y
+NSH_CUSTOMROMFS=y
+NSH_CUSTOMROMFS_HEADER="../../system/startup_script/nsh_romfsimg.h"
+NSH_ROMFSETC=y
+SYSTEM_STARTUP_SCRIPT=y
+VIDEO_FB=y
