+CXD56_CISIF=y
+CXD56_I2C2=y
+CXD56_IMAGEPROC=y
+DRIVERS_VIDEO=y
+EXAMPLES_TF_EXAMPLE=y
+EXTERNALS_TENSORFLOW=y
+EXTERNALS_TENSORFLOW_EXAMPLE_PERSONDETECTION=y
+SCHED_ATEXIT=y
+VIDEO_ISX012=y
+VIDEO_ISX019=y
+VIDEO_STREAM=y
