#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_DNNRT_LENET
	tristate "dnnrt example of LeNet-5"
	depends on DNN_RT
	default n
	---help---
		classify MNIST digits by LeNet-5

if EXAMPLES_DNNRT_LENET

config EXAMPLES_DNNRT_LENET_PROGNAME
	string "Program name"
	default "dnnrt_lenet"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_DNNRT_LENET_PRIORITY
	int "dnnrt_lenet task priority"
	default 100

config EXAMPLES_DNNRT_LENET_STACKSIZE
	int "dnnrt_lenet stack size"
	default 2048

endif
