#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_VOICE_COMMAND
	bool "Voice command example"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the voice command example

if EXAMPLES_VOICE_COMMAND

config EXAMPLES_VOICE_COMMAND_PROGNAME
	string "Program name"
	default "voice_command"

config EXAMPLES_VOICE_COMMAND_PRIORITY
	int "voice_command task priority"
	default 100

config EXAMPLES_VOICE_COMMAND_STACKSIZE
	int "voice_command stack size"
	default 2048

endif
