-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_USRSOCK_TCP=y
-PIPES=y
-SPI=y
+CXD56_CISIF=y
+CXD56_DMAC_SPI5_RX=y
+CXD56_DMAC_SPI5_TX=y
+CXD56_I2C2=y
+DRIVERS_VIDEO=y
+DRIVERS_WIRELESS=y
+EXAMPLES_MULTIWEBCAM=y
+EXAMPLES_MULTIWEBCAM_USE_HTTPMJPEG=y
+NETDB_DNSCLIENT=y
+NETDB_DNSSERVER_NOADDR=y
+NETDB_DNSCLIENT_MAXRESPONSE=176
+NETDB_DNSCLIENT_NAMESIZE=255
+NETINIT_NETLOCAL=y
+NETUTILS_PING=y
+NET_ICMP=y
+VIDEO_ISX012=y
+VIDEO_STREAM=y
+NET_WIZNET=y
+CXD56_WIZNET_SPI5_DMAC=y
+CXD56_SPI5_PINMAP_EMMC=y
+CXD56_DMAC_SPI5_RX_MAXSIZE=2051
+CXD56_DMAC_SPI5_TX_MAXSIZE=2051
+NETUTILS_WIZNET=y
