#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MEMUTILS_MESSAGE
	bool "Message"
	default n
	---help---
		Enable support for message.

if MEMUTILS_MESSAGE
endif
