CONFIG_CXD56_SPI=y
CONFIG_CXD56_SPI5=y
CONFIG_CXD56_DMAC_SPI5_TX=y
CONFIG_CXD56_DMAC_SPI5_TX_MAXSIZE=2064
CONFIG_CXD56_DMAC_SPI5_RX=y
CONFIG_CXD56_DMAC_SPI5_RX_MAXSIZE=2064
CONFIG_MODEM=y
CONFIG_LTE=y
CONFIG_LTE_NET=y
CONFIG_LTE_INET=y
CONFIG_LTE_INET_ATON=y
CONFIG_LTE_NETDB=y
CONFIG_LTE_NET_MBEDTLS=y
