-MMCSD=y
-MMCSD_SDIO=y
-SCHED_LPWORK=y
+ASMP=y
+AUDIO=y
+AUDIO_CXD56=y
+AUDIO_FORMAT_MP3=n
+AUDIO_FORMAT_PCM=n
+AUDIO_LITE=y
+CXD56_SDCARD_AUTOMOUNT=y
+CXD56_SDIO=y
+DRIVERS_AUDIO=y
+EXAMPLES_AUDIOLITE_MP3PLAYER=y
+EXTERNALS_MOSSFW=y
+FS_AUTOMOUNTER=y
