#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SENSING_BAROMETER
	bool "Barometer"
	default n
	---help---
		Enable support for barometer.

