-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_TCP_NO_STACK=y
-NET_UDP_NO_STACK=y
-NET_USRSOCK=y
-NET_USRSOCK_TCP=y
-NET_USRSOCK_UDP=y
+NETINIT_NOMAC=y
+NETUTILS_PING=y
+NET_ICMP=y
+NET_TCP=y
+NET_UDP=y
+RNDIS=y
