-SCHED_WAITPID=y
+DRIVER_NOTE=y
+DRIVER_NOTECTL=y
+DRIVER_NOTERAM_BUFSIZE=32768
+SCHED_INSTRUMENTATION=y
+SCHED_INSTRUMENTATION_FILTER=y
+SCHED_INSTRUMENTATION_HIRES=y
+SCHED_INSTRUMENTATION_IRQHANDLER=y
+SCHED_INSTRUMENTATION_SYSCALL=y
+SYSTEM_SYSTEM=y
+SYSTEM_TRACE=y
