-SCHED_WAITPID=y
+DRIVERS_NOTE=y
+DRIVERS_NOTECTL=y
+DRIVERS_NOTERAM_BUFSIZE=32768
+SCHED_INSTRUMENTATION=y
+SCHED_INSTRUMENTATION_FILTER=y
+SCHED_INSTRUMENTATION_IRQHANDLER=y
+SCHED_INSTRUMENTATION_SYSCALL=y
+SYSTEM_SYSTEM=y
+SYSTEM_TRACE=y
