#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "LTE"

config LTE
	bool "LTE Library Support"
	default n
	---help---
		Enables support for the LTE library.

if LTE

source "$APPSDIR/../modules/lte/altcom/Kconfig"
source "$APPSDIR/../modules/lte/net/Kconfig"
endif

endmenu # LTE
