+DRIVERS_VIDEO=y
+EXAMPLES_LVGLTERM=y
+GRAPHICS_LVGL=y
+LCD_FRAMEBUFFER=y
+LCD_ILI9340=y
+LCD_ILI9340_IFACE0=y
+LCD_ILI9340_IFACE0_RLANDSCAPE=y
+LIBC_EXECFUNCS=y
+LV_FONT_UNSCII_16=y
+LV_USE_LOG=y
+LV_USE_NUTTX=y
+VIDEO_FB=y
