#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Image Processing Libraries"

config IMAGEPROC
	bool "Spresense Image Processing Libraries"
	default n
	---help---
		Some utility libraries will be enabled such as pixcel format convertor, rotation and so on.
		CXD5602 "Sony Sensing Processor for Spresense" has some image processing accelerator.
		This option can also enable that.

endmenu

