#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_AUDIO_RECOGNIZER
	tristate "Audio recognizer example"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio recognizer example

if EXAMPLES_AUDIO_RECOGNIZER

config EXAMPLES_AUDIO_RECOGNIZER_PROGNAME
	string "Program name"
	default "audio_recognizer"

config EXAMPLES_AUDIO_RECOGNIZER_PRIORITY
	int "Audio recognizer task priority"
	default 100

config EXAMPLES_AUDIO_RECOGNIZER_STACKSIZE
	int "Audio recognizer stack size"
	default 2048

choice
	prompt "Pre process"
    default EXAMPLES_AUDIO_RECOGNIZER_THROUGH
	---help---
        Select pre process which is applied at Frontend
   
config EXAMPLES_AUDIO_RECOGNIZER_USEPREPROC
	bool "User custom process"
	---help---
	    Use user custom process at Frontend

config EXAMPLES_AUDIO_RECOGNIZER_SAMPLERATECONV
	bool "Sample rate converter"
	---help---
	    Use sample rate converter at Frontend

config EXAMPLES_AUDIO_RECOGNIZER_THROUGH
	bool "Through"
	---help---
	    No signal processing is applied at Frontend

endchoice

endif
