#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if BOARD_COLLET

config CXD56_100PIN
	bool
	default y

config EINK_ET014TT1
	bool "EInk ET014TT1 ePaper"
	default n
	---help---
		Supports the E Ink ET014TT1 1.43" monochrome display.

if EINK_ET014TT1

config EINK_ET014TT1_ROTATE
	bool "rotate device"
	default y
	---help---
		Rotate ePaper device.

endif

endif
