#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig VIDEO_DEVICES
	bool "Video Device Support"
	default n
	---help---
		Enable support for video device drivers.

if VIDEO_DEVICES

config VIDEO_ISX012
	bool "ISX012 Image sensor"
	default n

endif # VIDEO_DEVICES
