#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "DNN runtime library"
config DNN_RT
	bool "DNN runtime library"
	depends on EXTERNALS_CMSIS_NN
	select EXTERNALS_NNABLART
	default n
	---help---
		Enable or disable deep neural network library.

if DNN_RT

config DNN_RT_MP
	bool "Use multicore processing"
	default n
	---help---
		Enable or disable multicore processing.

endif

endmenu # DNN_RT
