#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_BLUETOOTH_LE_PERIPHERAL
	bool "Bluetooth low energy GATT peripheral example"
	default n
	select BLUETOOTH
	---help---
		Enable the bluetooth LE peripheral example

if EXAMPLES_BLUETOOTH_LE_PERIPHERAL

config EXAMPLES_BLUETOOTH_LE_PERIPHERAL_PROGNAME
	string "Program name"
	default "ble_peripheral"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif
