#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTE_TLS
	bool "TLS data communication over LTE network example"
	default n
	---help---
		Enable the tls data communication over LTE network example.

if EXAMPLES_LTE_TLS

config EXAMPLES_LTE_TLS_PROGNAME
	string "Program name"
	default "lte_tls"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LTE_TLS_PRIORITY
	int "lte_tls task priority"
	default 100

config EXAMPLES_LTE_TLS_STACKSIZE
	int "lte_tls stack size"
	default 5120

config EXAMPLES_LTE_TLS_CERTS_PATH
	string "Directory for server certification files"
	default "/mnt/sd0/CERTS"

config EXAMPLES_LTE_TLS_APN_NAME
	string "Access Point Name(same as lte_http_get example)"
	default ""

config EXAMPLES_LTE_TLS_APN_IPTYPE
	int "IP type(same as lte_http_get example)"
	default 0
	range 0 2
	---help---
		IP type is selected from IP, IPv6 and IPv4/v6.
		Values are IP=0, IPv6=1 and IPv4/v6=2.

config EXAMPLES_LTE_TLS_APN_AUTHTYPE
	int "Authentication type(same as lte_http_get example)"
	default 0
	range 0 2
	---help---
		Authentication type is selected from NONE, PAP and CHAP.
		Values are NONE=0, PAP=1, CHAP=2.

config EXAMPLES_LTE_TLS_APN_USERNAME
	string "Username used for authentication(same as lte_http_get example)"
	default ""

config EXAMPLES_LTE_TLS_PASSWD
	string "Password used for authentication(same as lte_http_get example)"
	default ""

endif
