-CXD56_I2C0_SCUSEQ=n
+ASMP=y
+EXAMPLES_SENSOR_STEP_COUNTER=y
+MEMUTILS=y
+MEMUTILS_MEMORY_MANAGER=y
+MEMUTILS_MESSAGE=y
+SCU_SENSORS=y
+SENSING_MANAGER=y
+SENSING_STEPCOUNTER=y
+SENSORS=y
+SENSORS_BMI160_SCU=y
+SPECIFIC_DRIVERS=y
