+DRIVERS_VIDEO=y
+EXAMPLES_LVGLDEMO=y
+GRAPHICS_LVGL=y
+LCD_FRAMEBUFFER=y
+LCD_ILI9340=y
+LCD_ILI9340_IFACE0=y
+LCD_ILI9340_IFACE0_RLANDSCAPE=y
+LV_COLOR_SCREEN_TRANSP=y
+LV_FONT_MONTSERRAT_12=y
+LV_FONT_MONTSERRAT_16=y
+LV_FONT_MONTSERRAT_18=y
+LV_MEM_CUSTOM=y
+LV_PORT_USE_FBDEV=y
+LV_TICK_CUSTOM=y
+LV_TICK_CUSTOM_INCLUDE="port/lv_port_tick.h"
+LV_USE_DEMO_BENCHMARK=y
+LV_USE_DEMO_KEYPAD_AND_ENCODER=y
+LV_USE_DEMO_MUSIC=y
+LV_USE_DEMO_STRESS=y
+LV_USE_DEMO_WIDGETS=y
+LV_USE_FONT_COMPRESSED=y
+LV_USE_LOG=y
+VIDEO_FB=y
