#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_AMBIENT_CLI
	tristate "Ambient CLI example"
	default n
	depends on SYSTEM_AMBIENT
	---help---
		Enable the Ambient CLI application

if EXAMPLES_AMBIENT_CLI

config EXAMPLES_AMBIENT_CLI_PROGNAME
	string "Program name"
	default "ambient_cli"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_AMBIENT_CLI_PRIORITY
	int "Ambient CLI task priority"
	default 100

config EXAMPLES_AMBIENT_CLI_STACKSIZE
	int "Ambient CLI stack size"
	default DEFAULT_TASK_STACKSIZE

endif
