-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SCHED_LPWORK=y
-SPI=y
+CXD56_DMAC_SPI5_RX=y
+CXD56_DMAC_SPI5_TX=y
+CXD56_GNSS=y
+DRIVERS_WIRELESS=y
+EXAMPLES_AWSIOT_GNSSLOGGER=y
+EXTERNALS_AWSIOT=y
+EXTERNALS_MBEDTLS=y
+FSUTILS_INIH=y
+INIH_MAX_LINE=128
+NETDB_DNSCLIENT=y
+NETDB_DNSCLIENT_NAMESIZE=255
+NETDB_DNSSERVER_IPv4ADDR=0x08080808
+NETINIT_NETLOCAL=y
+NETUTILS_NETLIB_GENERICURLPARSER=y
+NETUTILS_PING=y
+NET_ICMP=y
+SYSTEM_VI=y
+WIRELESS_GS2200M=y
+WL_GS2200M=y
