-CXD56_SPI5=y
-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_USRSOCK_TCP=y
-PIPES=y
-SPI=y
+CXD56_NRC_HALOW=y
+DRIVERS_WIRELESS=y
+EXAMPLES_AHRS_PWBIMU=y
+EXAMPLES_AHRS_PWBIMU_RECV=y
+EXAMPLES_LED_CTRL=y
+EXTERNALS_XIO_AHRS=y
+NETDEV_WIRELESS_IOCTL=y
+NETUTILS_PING=y
+NET_ARP=n
+NET_ICMP_NO_STACK=y
+NSH_CUSTOMROMFS=y
+NSH_CUSTOMROMFS_HEADER="../../system/startup_script/nsh_romfsimg.h"
+NSH_ROMFSETC=y
+SENSORS=y
+SENSORS_CXD5602PWBIMU=y
+SYSTEM_STARTUP_SCRIPT=y
+WIRELESS_NRC7292=y
+WIRELESS_WAPI=y
+WIRELESS_WAPI_CMDTOOL=y
+WIRELESS_WAPI_USOCKDTERM_CMDTOOL=y
+WL_NRC7292=y
