-LIBC_IPv4_ADDRCONV=y
-LIBC_IPv6_ADDRCONV=y
-NET=y
-NETDEV_LATEINIT=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SPI=y
+CXD56_DMAC_SPI4_RX_MAXSIZE=2064
+CXD56_DMAC_SPI4_TX_MAXSIZE=2064
+CXD56_LTE=y
+EXAMPLES_SMS_RECV=y
+EXTERNALS_MBEDTLS=y
+LTE_ALT1250=y
+LTE_LAPI=y
+LTE_SYSCTL=y
+MODEM=y
+MODEM_ALT1250=y
+NETDB_DNSCLIENT=y
+NETDB_DNSCLIENT_NAMESIZE=255
+NETDB_DNSSERVER_IPv4ADDR=0x8080808
+NETUTILS_WEBCLIENT=y
+NET_IPv6=y
