#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_AUDIO_PCM_CAPTURE
	tristate "Audio pcm_capture example"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio pcm_capture example

if EXAMPLES_AUDIO_PCM_CAPTURE

config EXAMPLES_AUDIO_PCM_CAPTURE_PROGNAME
	string "Program name"
	default "audio_pcm_capture"

config EXAMPLES_AUDIO_PCM_CAPTURE_PRIORITY
	int "Audio pcm_capture task priority"
	default 100

config EXAMPLES_AUDIO_PCM_CAPTURE_STACKSIZE
	int "Audio pcm_capture stack size"
	default 2048

endif
