#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_GNSS_ATCMD
	tristate "GNSS CXD5603 @command emulator example"
	default n
	select LIBC_FLOATINGPOINT
	depends on CXD56_GNSS
	---help---
		Enable GNSS CXD5603 @command emulator example

if EXAMPLES_GNSS_ATCMD

config EXAMPLES_GNSS_ATCMD_PROGNAME
	string "Program name"
	default "gnss_atcmd"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

choice
	prompt "GNSS Command IO"
	default EXAMPLES_GNSS_ATCMD_USB

config EXAMPLES_GNSS_ATCMD_USB
	bool "Example uses USB CDC tty"

config EXAMPLES_GNSS_ATCMD_STDINOUT
	bool "Example uses STDINOUT for nsh debug UART"

config EXAMPLES_GNSS_ATCMD_TTYS0
	bool "Example uses UART ttyS0"

config EXAMPLES_GNSS_ATCMD_TTYS1
	bool "Example uses UART ttyS1"

config EXAMPLES_GNSS_ATCMD_TTYS2
	bool "Example uses UART ttyS2"

endchoice

config EXAMPLES_GNSS_ATCMD_SUPPORT_DCREPORT
	bool "Example supports QZ DC report output"
	default y

config EXAMPLES_GNSS_ATCMD_SUPPORT_SARRLM
	bool "Example supports GAL SAR/RLM output"
	default y

config EXAMPLES_GNSS_ATCMD_SUPPORT_SPECRUM
	bool "Example supports spectrum output"
	default y

config EXAMPLES_GNSS_ATCMD_PRIORITY
	int "GNSS task priority"
	default 100

config EXAMPLES_GNSS_ATCMD_STACKSIZE
	int "GNSS stack size"
	default 2048

endif
