-BOARDCTL_USBDEVCTRL=y
-BOARD_CRASHDUMP=y
-CDCACM=y
-CDCACM_EPBULKIN=4
-CDCACM_EPBULKOUT=5
-CDCACM_EPINTIN=6
-CDCACM_PRODUCTID=0x0bc2
-CDCACM_RXBUFSIZE=3080
-CDCACM_VENDORID=0x054c
-CDCACM_VENDORSTR="SONY"
-CXD56_I2C0=y
-CXD56_I2C0_SCUSEQ=n
-CXD56_I2C=y
-CXD56_I2C_DRIVER=y
-CXD56_SPI3=y
-CXD56_SPI3_SCUSEQ=n
-CXD56_SPI5=y
-CXD56_UART2=y
-MMCSD=y
-MMCSD_MMCSUPPORT=n
-MMCSD_SDIO=y
-MMCSD_SPI=n
-NETDEVICES=y
-PWM=y
-SDIO_MUXBUS=y
-SPRESENSE_EXTENSION=y
-UART2_IFLOWCONTROL=y
-UART2_OFLOWCONTROL=y
-USBDEV=y
-USBDEV_DMA=y
-USBDEV_DUALSPEED=y
-USBMSC=y
-USBMSC_EPBULKIN=1
-USBMSC_PRODUCTID=0x0bc2
-USBMSC_REMOVABLE=y
-USBMSC_VENDORID=0x054c
-USBMSC_VENDORSTR="Sony"
 RAM_SIZE=1572864->262144
+CPUFREQ_RELEASE_LOCK=y
+CXD56_BACKUPLOG=n
+CXD56_GPIO_IRQ=n
+CXD56_PM_PROCFS=y
+CXD56_SCU=n
+CXD56_SPI_DRIVER=n
+I2C=y
