#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if BOARD_SPRESENSE

config BOARD_CUSTOM_PINCONFIG
	bool
	default y

config BOARD_USB_DISABLE_IN_DEEP_SLEEPING
	bool
	default y
	---help---
		Due to the system specification, it's impossible to enter the deep
		sleeping mode for the power saving as long as USB is attached. As
		the workaround for this restriction, this configuration forces to be
		disable the USB function in deep sleeping.

config CXD56_SPIFLASHSIZE
	hex
	default 0x400000
	depends on CXD56_SFC
	---help---
		Specify the SPI flash total available size for the application.
		This value is generally set half of SPI flash device capacity.

config SDCARD_TXS02612
	bool "SD Card TXS02612 port expander with voltage level translation"
	default y
	---help---
		Enable TXS02612 Dual Voltage Level Translator for SD-Card interface.
		This device is used in SPD-003C board.

if SDCARD_TXS02612

choice
	prompt "TXS02612 port"
	default SDCARD_TXS02612_PORT0

config SDCARD_TXS02612_PORT0
	bool "Port 0"

config SDCARD_TXS02612_PORT1
	bool "Port 1"

endchoice # "TXS02612 port"

endif # SDCARD_TXS02612

endif
