-LIBC_IPv4_ADDRCONV=y
-LIBC_IPv6_ADDRCONV=y
-NETDEV_LATEINIT=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-SPI=y
+CXD56_DMAC_SPI4_RX_MAXSIZE=2064
+CXD56_DMAC_SPI4_TX_MAXSIZE=2064
+CXD56_LTE=y
+EXAMPLES_LTE_LWM2M=y
+LTE=y
+LTE_DAEMON=y
+MODEM=y
+MODEM_ALTMDM=y
+NETDB_DNSCLIENT=y
+NETDB_DNSCLIENT_MAXRESPONSE=176
+NETDB_DNSCLIENT_NAMESIZE=255
+NETDB_DNSSERVER_IPv4ADDR=0x8080808
+NETUTILS_WEBCLIENT=y
+NET_IPv6=y
