-MMCSD=y
-MMCSD_SDIO=y
-SCHED_LPWORK=y
-SCHED_WAITPID=y
+CXD56_GNSS_ADDON=y
+CXD56_SDCARD_AUTOMOUNT=y
+CXD56_SDIO=y
+EXAMPLES_ALARM=y
+EXAMPLES_GNSS_ADDON=y
+FS_AUTOMOUNTER=y
+GPSUTILS_CXD5610NMEA_LIB=y
+NSH_CUSTOMROMFS=y
+NSH_CUSTOMROMFS_HEADER="../../system/startup_script/nsh_romfsimg.h"
+NSH_ROMFSETC=y
+SENSORS=y
+SENSORS_CXD5610_GNSS=y
+SPECIFIC_DRIVERS=y
+SYSTEM_STARTUP_SCRIPT=y
+SYSTEM_SYSTEM=y
