-CXD56_SPI5=y
-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SPI=y
+CXD56_DMAC_SPI5_RX_MAXSIZE=2051
+CXD56_DMAC_SPI5_TX_MAXSIZE=2051
+CXD56_WIZNET_SPI5_DMAC=y
+NETDB_DNSCLIENT=y
+NETDB_DNSCLIENT_NAMESIZE=255
+NETDB_DNSSERVER_NOADDR=y
+NETINIT_NETLOCAL=y
+NETUTILS_PING=y
+NETUTILS_WIZNET=y
+NET_ICMP=y
+NET_WIZNET=y
