#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_AUDIO_DUAL_PLAYERS
	tristate "Audio dual players example"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio dual players example

if EXAMPLES_AUDIO_DUAL_PLAYERS

choice
	prompt "Output device selection"
	default EXAMPLES_AUDIO_DUAL_PLAYERS_OUTPUT_DEV_SPHP
	---help---
		Set the device type of output to use

config EXAMPLES_AUDIO_DUAL_PLAYERS_OUTPUT_DEV_SPHP
	bool "Speaker/Headphone output"

config EXAMPLES_AUDIO_DUAL_PLAYERS_OUTPUT_DEV_I2S
	bool "I2S output"
endchoice

choice
	prompt "player mode selection"
	default EXAMPLES_AUDIO_DUAL_PLAYERS_MODE_NORMAL
	---help---
		Set the operation mode of player capability.
		To play include Hi-Res file, select Hi-Res mode.
		If it is not Hi-Res file, select Normal mode.

config EXAMPLES_AUDIO_DUAL_PLAYERS_MODE_NORMAL
	bool "Normal mode"

config EXAMPLES_AUDIO_DUAL_PLAYERS_MODE_HIRES
	bool "Hi-Res mode"
endchoice

config EXAMPLES_AUDIO_DUAL_PLAYERS_PROGNAME
	string "Program name"
	default "audio_dual_players"

config EXAMPLES_AUDIO_DUAL_PLAYERS_PRIORITY
	int "Audio dual players task priority"
	default 150

config EXAMPLES_AUDIO_DUAL_PLAYERS_STACKSIZE
	int "Audio dual players stack size"
	default 2048
endif
