.depend
Make.dep
*.o
*.a
*.a.lock
*.d
*.i
*~
.swp
.*.swp
/cscope.*
/.config
/.config.old
/.version
/defconfig
/nuttx
/nuttx.*
/nuttx-*
/_SAVED_APPS_config
/*.map
/*.elf
/*.srec
/*.bin
/*.ihx
/*.hex
/.cproject
/.project
/.settings
/pcode
tags
/*.log
.*.tmp
.context
/Kconfig
/workerspks
.built
sdk-export.tar.gz
