#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#


config BLUETOOTH_NRF52
	bool "Nordic nRF52 series"
	default n
	---help---
		Nordic nRF52 provides BLE interfaces for application.

if BLUETOOTH_NRF52

config NRF52_LE
	bool
	default BLUETOOTH_LE
	---help---
		This option enabling Nordic nRF52 Low Energy HAL.

if NRF52_LE
config NRF52_LE_GATT
	bool
	default BLUETOOTH_LE_GATT
	---help---
		This option enabling Nordic nRF52 LE GATT HAL.

config NRF52_LESC
	bool "LE secure connection support"
	default y
	---help---
		This option enables LE secure connection feature of nRF52.
		LE secure connection is the safer pairing method,
		but nrf52 needs more memory because mbedtls or micro-ecc is required.

config NRF52_SCAN_COMPAT_MODE
	bool "Enable scan compatible mode"
	default n
	---help---
		Enable interoperability with devices that do not support a value of
		0 for the WinOffset parameter in the Link Layer CONNECT_IND packet.
		This applies to a limited set of legacy peripheral devices.

endif # NRF52_LE

endif # BLUETOOTH_NRF52
