-SCHED_HPWORK=y
-SDIO_BLOCKSETUP=y
-SPI=y
+BINFMT_CONSTRUCTORS=y
+CODECS_BASE64=y
+CODECS_URLCODE=y
+CXD56_LTE=y
+CXD56_SDIO=y
+ELF=y
+ELF_STACKSIZE=8192
+EXAMPLES_LTE_AZUREIOT=y
+EXAMPLES_LTE_AZUREIOT_APN_AUTHTYPE_PAP=y
+EXAMPLES_LTE_AZUREIOT_APN_IPTYPE_IPV4V6=y
+EXAMPLES_LTE_AZUREIOT_APN_NAME="iijmio.jp"
+EXAMPLES_LTE_AZUREIOT_APN_PASSWD="iij"
+EXAMPLES_LTE_AZUREIOT_APN_USERNAME="mio@iij"
+EXTERNALS_MBEDTLS=y
+LIBC_EXECFUNCS=y
+LIB_ENVPATH=y
+LTE=y
+LTE_INET=y
+LTE_INET_ATON=y
+LTE_NET=y
+MODEM=y
+MODEM_ALTMDM=y
+NETUTILS_CODECS=y
+NSH_FILE_APPS=y
+SCHED_STARTHOOK=y
+SYMTAB_ORDEREDBYNAME=y
+SYSTEM_NSH_SYMTAB=y
