-LIBC_IPv4_ADDRCONV=y
-NET_IPv4=n
-NET_SOCKOPTS=y
-NET_USRSOCK_TCP=y
-PIPES=y
-SCHED_LPWORK=y
-SPI=y
+CXD56_CISIF=y
+CXD56_DMAC_SPI5_RX=y
+CXD56_DMAC_SPI5_TX=y
+CXD56_I2C2=y
+DRIVERS_VIDEO=y
+DRIVERS_WIRELESS=y
+EXAMPLES_MULTIWEBCAM=y
+EXAMPLES_MULTIWEBCAM_USE_HTTPMJPEG=y
+NETDB_DNSCLIENT=y
+NETDB_DNSSERVER_NOADDR=y
+NETINIT_NETLOCAL=y
+NETUTILS_PING=y
+NET_ICMP=y
+VIDEO_ISX012=y
+VIDEO_ISX019=y
+VIDEO_STREAM=y
+WIRELESS_GS2200M=y
+WL_GS2200M=y
