#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTE_WEBSOCKET
	tristate "WebSocket using LTE example"
	default n
	---help---
		Enable the WebSocket using LTE example

if EXAMPLES_LTE_WEBSOCKET

config EXAMPLES_LTE_WEBSOCKET_PROGNAME
	string "Program name"
	default "lte_websocket"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LTE_WEBSOCKET_PRIORITY
	int "lte_websocket task priority"
	default 100

config EXAMPLES_LTE_WEBSOCKET_STACKSIZE
	int "lte_websocket stack size"
	default 8192

config EXAMPLES_LTE_WEBSOCKET_STACKSIZE_IN_USING_MBEDTLS
	int "lte_websocket stack size in using mbedTLS"
	default 11264

config EXAMPLES_LTE_WEBSOCKET_APN_NAME
	string "Access Point Name"
	default ""

config EXAMPLES_LTE_WEBSOCKET_APN_IPTYPE
	int "IP type"
	default 0
	range 0 2
	---help---
		IP type is selected from IP, IPv6 and IPv4/v6.
		Values are IP=0, IPv6=1 and IPv4/v6=2.

config EXAMPLES_LTE_WEBSOCKET_APN_AUTHTYPE
	int "Authentication type"
	default 0
	range 0 2
	---help---
		Authentication type is selected from NONE, PAP and CHAP.
		Values are NONE=0, PAP=1, CHAP=2.

config EXAMPLES_LTE_WEBSOCKET_APN_USERNAME
	string "Username used for authentication"
	default ""

config EXAMPLES_LTE_WEBSOCKET_APN_PASSWD
	string "Password used for authentication"
	default ""

endif
